/**Student Name: Shasanka Acharya.
      Student Number:16418524 **/
/**The styling of the header portion of the page begins here**/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position:fixed;
  width: 100%;

}

.name a{
  text-decoration: none;
  color:black;
}
.name{
  background:white;
  font-family: 'Rancho', cursive;
  font-size: 42px;
}
.name:hover{
  background: white;
}
.name:hover a{
  color: white;
  text-shadow: 10px 4px 30px black,  10px 14px 30px black;

}
.navbar{
  padding: 2% 0% 0% 0%;
  background:white;
  width: 100%;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 0;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.navbar ul li{

   list-style: none;
}

.navbar ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Rancho';
  font-size: 50px;
}
.navbar ul li:hover{
  background:white;
  border-radius: 30px;

}
.navbar ul li:hover a{
  color: white;
  text-shadow: 10px 4px 30px black,  10px 14px 30px black;
}
/**The styling of the header portion of the page ends here**/

/**The body of the web page is styled below**/
body{
  margin:0;
  background-color: #e7f98c;

}

.social{
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.main{
  padding: 8% 0 0 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.caption{
    padding: 0% 3%% 6% 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.hello{

  font-size: 150px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-family: 'Rancho';

}
.welcome{
  font-family: 'Caveat';
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 10px black;

  }

.more{
    background-color: #393a56;
    display:block;
    font-family: 'Rancho';
    font-size: 40px;
    margin: 20px;
    text-align: center;
    color: white;
    text-shadow: 7px 4px 13px black;
    box-shadow: 20px 20px 30px black;
  }
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
.contact{
  background-color: #639a56;
  display:block;
  font-family: 'Rancho';
  font-size: 40px;
  margin: 20px;
  text-align: center;
  color: white;
  text-shadow: 7px 4px 13px black;
  box-shadow: 20px 20px 30px black;

}
.photo{
    padding: 2% 6% 0% 6%;

    max-width: 360px;
    max-height: 360px;
    min-width: 350px;
    min-height: 350px;
    margin: 0;
}

/**The footer of the page is styled below**/
footer{
  position: fixed;
  /**display: flex;
  flex-direction: row;
  justify-content: space-between;**/
  width: 100%;
  padding: 5% 0 0 0;
  margin: 0;
}
footer ul li{
  list-style: none;
}
footer ul li a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.find{
  font-family: 'Caveat';
  font-size: 30px;
  background-color: pink;

}
.social{
  height: 10%;
}

/**This portion deals with making the web page responsive to different media screen sizes**/
@media (max-width: 865px){
	header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	}
  .name{
    font-size: 30px;
  }
  .navbar ul li a{
    font-size:25px;
  }

}
@media (max-width: 1300px) and (min-width:800px){
  /**.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}**/
  .photo{
    height:600px;
    width:800px;
    padding: 6% 2% 6% 2%;
  }

}
