/**Student Name: Shasanka Acharya.
      Student Number:16418524 **/
/**The styling of the header portion of the page begins here**/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #161515;
  position:fixed;
  width: 100%;
  box-shadow: 1px 5px 14px black, 1px 5px 14px black;


}

.name a{
  text-decoration: none;
  color:white;
  transition: all 0.7s ease;
}
.name{
  background:#161515;
  font-family: 'Rancho', cursive;
  font-size: 2.5em;

}
.name:hover{
  color: #161515;
}
.name:hover a{

  text-shadow: 5px 2px 5px #920000,  5px 5px 5px #920000;

}
.navbar{
  padding:0%;
  width: 100%;
  height: auto;

}

.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 0;
  padding: 0;
  font-size: 0.625em;
  color: black;
  font-weight: bold;
  overflow: hidden;


}

.navbar ul li{

   list-style: none;
   height:100px; !important
   width:100px;  !important


}

.navbar ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Rancho';
  font-size: 10.875em;
  padding: 12px 0;
  transition: all 0.38s ease;
  padding: 0px 10px;

}

.navbar li a.navact {
    background-color: #920000;
    color: white;
    opacity: 0.9;
    border: 100%;
}

.navbar li a:hover:not(.navact) {
    background-color: #920000;
}

/**The styling of the header portion of the page ends here**/

/**The body of the web page is styled below**/
body{
  margin:0;
  background-image: url("../images/web.jpg");
  height: auto;
  display: block;

}


.social{
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.main{
  padding: 8% 0 0 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;

}
.caption{
    padding: 0% 3%% 6% 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.hello{

  font-size: 9.375em;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-family: 'Rancho';

}
.welcome{
  font-family: 'Caveat';
  font-size: 3.75em;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 10px black;

  }

.more{
    background-color: #393a56;
    display:block;
    font-family: 'Rancho';
    font-size: 2.5em;
    margin: 20px;
    text-align: center;
    color: white;
    text-shadow: 7px 4px 13px black;
    box-shadow: 20px 20px 30px black;
  }
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


  }
.contact{
  background-color: #639a56;
  display:block;
  font-family: 'Rancho';
  font-size: 2.5em;
  margin: 20px;
  text-align: center;
  color: white;
  text-shadow: 7px 4px 13px black;
  box-shadow: 20px 20px 30px black;

}
.photo{
    padding: 2% 6% 0% 6%;
    border-radius: 50%;
    max-width: 360px;
    max-height: 360px;
    min-width: 350px;
    min-height: 350px;
    margin: 0;
}

/**The footer of the page is styled below**/
footer {
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
footer ul li{
  list-style: none;
}
footer ul li a{
  text-decoration: none;
  display: flex;
  flex-direction: row;

}
.find{
  font-family: 'Caveat';
  font-size: 1.875em;
  background-color: pink;

}
.social{
  height: 10%;
}

/**This portion deals with making the web page responsive to different media screen sizes**/
@media (max-width:1080px) and (min-width:1001px){
  .photo{
    height:600px;
    width:800px;
    padding: 0S% 2% 6% 2%;

  }

}

@media (max-width: 1000px) and (min-width:660px){
  /**.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}**/
  .photo{
    height:600px;
    width:800px;
    padding: 6% 2% 6% 2%;
    margin-top: 4%;
  }

}
@media (max-width: 659px) and (min-width:200px)
@media (max-width: 400px) and (min-width:200px){
  .photo{
    max-height:200px;
    max-width:200px;
    padding: 6% 2% 6% 2%;
    margin-top: 4%;
  }
}
